.container-dark {
    background-color: #202C39;
    color: white;
    display: flex;
    align-items: center;
  }
  .container-orange {
    background-color: #FFD091;
    color: #202C39;
  }
  .container-white {
    background-color: whitesmoke;
    color: #202C39;
  }
  .content {
    padding: 100px 25%;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    font-size: 1.2em;
    align-items: center;
    text-align: center;
  }
  .navbar-nav {
    list-style: none;
    padding: 0;
    display: flex;
  }
  .nav-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    
    &:hover {
      background-color: whitesmoke;
      color: #202C39;
    }
  }
  .nav-link {
    text-decoration: none;
  }
  .homepage-image {
    width: 100%;
    display: block;
  }
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    text-align: center;
    padding: 2em 8em;
    border-radius: 5px;
    
    h1 {
      font-size: 4em;
      margin: 0;
    }
  }