<div class="container content">
    <img src="assets/images/logo.png" alt="logo" width="60%" height="auto">
    <div class="text">
        <h1>Elec Tricks</h1>
        <p>"Calculating Fair Electricity Shares for Unified Living."</p>
        <button type="button" (click)="redirect()" class="btn btn-primary started-button">Get Started</button>
    </div>
</div>
<div class="container-white content">
    <div class="row">
        <div class="col-sm-4">
            <img src="assets/svg/calculator.svg" alt="calculator" width="50%" height="50%">
            <h2>Accurate Calculations</h2>
            <p>Effortlessly calculate electricity bills among tenants with precision, ensuring fairness and transparency</p>
        </div>
        <div class="col-sm-4">
            <img src="assets/svg/users.svg" alt="users" width="50%" height="50%">
            <h2>Unified Living</h2>
            <p>Promote a sense of unity and collaboration among tenants by fairly distributing electricity costs based on usage.</p>
        </div>
        <div class="col-sm-4">
            <img src="assets/svg/electricity.svg" alt="electricity" width="50%" height="50%">
            <h2>Energy Efficiency</h2>
            <p>Encourage responsible energy consumption through insightful data and analytics, helping reduce overall usage.</p>
        </div>
    </div>
</div>
<div class="container-orange content">
    <h2>Mission and Values</h2>
    <p>"Our mission is to simplify electricity billing while fostering unity and sustainability. We believe in transparency, collaboration, and empowering individuals to make informed energy choices."</p>
</div>
