<div class="container-dark header">
  <h2>Our Business Website</h2>
</div>
<div class="container-white">
  <div class="content">
    <h2>Our Business Website</h2>
    <p>Learn how to design, develop, and maintain your professional website in no time.</p>
  </div>
</div>
<div class="container-orange">
  <div class="content">
    <h2>What We Do</h2>
    <p>We give you the tools to develop websites and unique solutions for your customers. We also provide training for
      maintenance and other website related topics.</p>
  </div>
</div>
<div class="container-white">
  <div class="content">
    <h2>About Us</h2>
    <p>We are a small business operating from Melbourne, Australia. Our spaces are uniquely crafted so clients can also
      visit us in person.</p>
  </div>
</div>
<div class="container-dark footer">
  <p>Copyright 2022</p>
</div>