<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">Terms and Conditions</h1>
        </div>
        <div class="card-body">
            <p>These Terms and Conditions govern your use of the Elec Tricks website and services provided through the website.</p>
            <p>By accessing or using Elec Tricks, you agree to comply with these Terms and Conditions. If you do not agree with these Terms and Conditions, please do not use our services.</p>

            <div class="use-of-the-service p-2">
                <h2>1. Use of the Service</h2>
                <p>1.1. You must be at least 16 years old to use Elec Tricks.</p>
                <p>1.2. You agree not to use Elec Tricks for any illegal or unauthorized purpose.</p>
                <p>1.3. You agree not to modify or adapt Elec Tricks or any portion of it.</p>
                <p>1.4. You agree not to reverse engineer, decompile, disassemble or hack any part of Elec Tricks.</p>
            </div>

            <div class="content p-2">
                <h2>2. Content</h2>
                <p>2.1. You are responsible for the content you provide while using Elec Tricks.</p>
                <p>2.2. You agree not to upload, post, or transmit any malicious code, viruses, or any material that is unlawful, harmful, threatening, abusive, obscene, or otherwise objectionable.</p>
            </div>

            <div class="changes-to-the-terms-and-condition p-2">
                <h2>3. Changes to the Terms and Conditions</h2>
                <p>3.1. We reserve the right to modify or revise these Terms and Conditions at any time. You will be notified of any changes, and your continued use of Elec Tricks after the changes will constitute your acceptance of the revised terms.</p>
            </div>

            <div class="termination p-2">
                <h2>4. Termination</h2>
                <p>4.1. We may terminate or suspend your access to Elec Tricks at any time, without prior notice, for any reason, including, without limitation, breach of these Terms and Conditions.</p>
            </div>

            <div class="contact-information p-2">
                <h2>5. Contact Information</h2>
                <p>5.1. If you have any questions about these Terms and Conditions, please <a href="mailto:yanzhe2003@gmail.com">contact us</a>.</p>
            </div>
        </div>
    </div>
</div>