@import "./node_modules/bootstrap/scss/bootstrap";
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  padding: 0;
}

.illustration {
  display: flex;
  justify-content: center;
  align-items: center;
}